.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
  color: orangered;
}

.navbar-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  color: #49557e;
}