:root {
  --cir-primary-400: hsl(180, 66%, 49%);
  --cir-primary-500: hsl(257, 27%, 26%);

  --cir-secondary-400: hsl(0, 87%, 67%);

  --cir-neutral-100: hsl(0, 0%, 100%);
  --cir-neutral-200: hsl(0, 0%, 75%);
  --cir-neutral-300: hsl(257, 7%, 63%);
  --cir-neutral-400: hsl(255, 11%, 22%);
  --cir-neutral-500: hsl(260, 8%, 14%);
  --cir-neutral-900: hsl(0, 0%, 0%);
  

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
}

.app {
  width: 80%;
  margin: auto;
}